<div class="container my-4">
  <div class="row">
    <!-- catagory -->
    <div class="col-md-2 bg-light">
      <p><i class="fa-solid fa-apple-whole"></i> Supermarket</p>
      <p><i class="fa-solid fa-shirt"></i> Fashion</p>
      <p><i class="fa-solid fa-paintbrush"></i> Health & Beauty</p>
      <p><i class="fa-solid fa-baby"></i> Baby Products</p>
      <p><i class="fa-solid fa-mobile-screen"></i> Phones & Tablets</p>
      <p><i class="fa-solid fa-house"></i> Home & Furniture</p>
      <p><i class="fa-solid fa-apple-whole"></i> Appliances</p>
      <p><i class="fa-solid fa-apple-whole"></i> Televisions & Audio</p>
      <p><i class="fa-solid fa-apple-whole"></i> Computing</p>
      <p><i class="fa-solid fa-apple-whole"></i> Sporting Goods</p>
      <p><i class="fa-solid fa-apple-whole"></i> Gaming</p>
      <p><i class="fa-solid fa-apple-whole"></i> Other categories</p>
    </div>
    <div class="col-md-8">
      <!-- slider  -->
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./712X384EN (1).png" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="./712x384EN (2).png" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="./712x384EN.png" class="d-block w-100" alt="..." />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- Join Jumia -->
    <div class="col-md-2 mt-4 bg-light">
      <div class="d-flex align-items-center">
        <div><i class="fas fa-star fa-2x text-warning mr-2"></i></div>
        <div class="ms-1">
          <p class="mb-0">Join Jumia</p>
          <p class="mt-0 small-text">as a Sales Consultant</p>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <i class="fas fa-shopping-cart fa-2x text-warning mr-2"></i>
        <div class="ms-1">
          <p class="mb-0">Sell on Jumia</p>
          <p class="mt-0 small-text">And Grow Your Business</p>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <i class="fas fa-shield-alt fa-2x text-warning mr-2"></i>
        <div class="ms-1">
          <p class="mb-0">Warranty</p>
          <p class="mt-0 small-text">On Your Purchases</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg">
<div class=" container ">
    <div class="row">
        <h1 class="text-center mt-5 text-light">My Products</h1>
        @for (product of products; track $index) {

    <div class="col-md-4 mt-3 mb-5">
      <a class="text-decoration-none" >
        <a class="linkp" >
          <div class="card">
            <div class="image">
              <img class="card-img-top pt-1" [src]="product.photo" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="card-title"> {{product.productName.split(' ').slice(0,3).join(' ')}}</h4>
                
                <span>May 3, 2018 </span> <span class="ml-4">By John Smith</span>
              <p class="card-text mt-2 ">{{product.description.split(' ').slice(0,8).join(' ')}}<span role="button" class=" ps-2 text-primary " [routerLink]="['/details',product.id ]">read more...</span></p>
              <div class=" row">
                  <h4 class="col-md-6" >{{product.price | currency:'EUR'}}</h4>
                <p class="btn col-md-6 bg-success " (click)="addToCart(product)"><i class="fa-solid fa-cart-shopping"></i>Add to cart</p>
                
             
              </div>
            </div>
          </div>
          </a> 
           </a>
        </div> 

        }
   
    </div>
</div>
</div>