<div class="container my-4">
  <div class="row">
    <aside class="col-md-2 bg-light p-3 border rounded">
      <h4 class="mb-4">Categories</h4>
      <ul class="list-unstyled">
        <li class="mb-2">
          <a [routerLink]="['/products', 'supermarket']" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-apple-whole me-2"></i> Supermarket
          </a>
        </li>
        <li class="mb-2">
          <a [routerLink]="['/products', 'fashion']" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-shirt me-2"></i> Fashion
          </a>
        </li>
        <li class="mb-2">
          <a [routerLink]="['/home', 'health-beauty']" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-paintbrush me-2"></i> Health & Beauty
          </a>
        </li>
        <li class="mb-2">
          <a [routerLink]="['/home', 'baby-products']" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-baby me-2"></i> Baby Products
          </a>
        </li>
        <li class="mb-2">
          <a [routerLink]="['/home', 'phones-tablets']" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-mobile-screen me-2"></i> Phones & Tablets
          </a>
        </li>
        <li class="mb-2">
          <a [routerLink]="['/home', 'home-furniture']" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-house me-2"></i> Home & Furniture
          </a>
        </li>
        <li class="mb-2">
          <a [routerLink]="['/home', 'appliances']" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-apple-whole me-2"></i> Appliances
          </a>
        </li>
        <li class="mb-2">
          <a [routerLink]="['/home', 'televisions-audio']" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-tv me-2"></i> Televisions & Audio
          </a>
        </li>
        <li class="mb-2">
          <a [routerLink]="['/home', 'computing']" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-laptop me-2"></i> Computing
          </a>
        </li>
        <li class="mb-2">
          <a [routerLink]="['/home', 'sporting-goods']" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-dumbbell me-2"></i> Sporting Goods
          </a>
        </li>
        <li class="mb-2">
          <a [routerLink]="['/home', 'gaming']" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-gamepad me-2"></i> Gaming
          </a>
        </li>
        <li class="mb-2">
          <a [routerLink]="['/home', 'other']" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-tags me-2"></i> Other Categories
          </a>
        </li>
      </ul>
    </aside>

    <!-- <aside class="col-md-2 bg-light p-3 border rounded">
      <h4 class="mb-4">Categories</h4>
      <ul class="list-unstyled">
        <li class="mb-2">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-apple-whole me-2"></i> Supermarket
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-shirt me-2"></i> Fashion
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-paintbrush me-2"></i> Health & Beauty
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-baby me-2"></i> Baby Products
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-mobile-screen me-2"></i> Phones & Tablets
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-house me-2"></i> Home & Furniture
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-apple-whole me-2"></i> Appliances
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-tv me-2"></i> Televisions & Audio
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-laptop me-2"></i> Computing
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-dumbbell me-2"></i> Sporting Goods
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-gamepad me-2"></i> Gaming
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-solid fa-tags me-2"></i> Other Categories
          </a>
        </li>
      </ul>
    </aside> -->


    <!-- Filter and Products Section -->
    <div class="col-md-10">
      <!-- Filter Section -->
      <div class="row mb-4">
        <div class="col-md-3">
          <label for="categorySelect" class="form-label">Category</label>
          <select
            id="categorySelect"
            class="form-select"
            [(ngModel)]="selectedCategory"
            (change)="filterProducts()"
          >
            <option value="">All Categories</option>
            @for (category of categories; track category) {
            <option class="form-select">
              {{ category }}
            </option>
          }
          </select>
        </div>
        <div class="col-md-3">
          <label for="brandSelect" class="form-label">Brand</label>
          <select
            id="brandSelect"
            class="form-select"
            [(ngModel)]="selectedBrand"
            (change)="filterProducts()"
          >
            <option value="">All Brands</option>
            @for (brand of brands; track brand) {
            <option class="form-select" >
              {{ brand }}
            </option>
          }
          </select>
        </div>
        <div class="col-md-2 align-self-end">
          <label for="minPrice" class="form-label">Min Price</label>
          <input
            id="minPrice"
            type="number"
            class="form-control"
            [(ngModel)]="minPrice"
            (input)="filterProducts()"
            min="0"
          />
        </div>
        <div class="col-md-2">
          <label for="maxPrice" class="form-label">Max Price</label>
          <input
            id="maxPrice"
            type="number"
            class="form-control"
            [(ngModel)]="maxPrice"
            (input)="filterProducts()"
            min="0"
          />
        </div>
        <div class="col-md-2 align-self-end">
          <button class="btn btn-secondary w-100" (click)="resetFilters()">Reset Filters</button>
        </div>
      </div>


      <!-- Sorting Section -->
      <div class="row mb-4">
        <div class="col-md-4">
          <label for="sortSelect" class="form-label">Sort By</label>
          <select id="sortSelect" class="form-select" [(ngModel)]="selectedSort" (change)="sortProducts()">
            <option value="">Default</option>
            <option value="price">Price (Low to High)</option>
            <option value="priceDesc">Price (High to Low)</option>
            <option value="popularity">Popularity</option>
          </select>
        </div>
      </div>

      <!-- Products Section -->
      <section class="bg-light py-5">
        <div class="container">
          <div class="row">
            <h1 class="text-center mb-5">My Products</h1>
@for (product of filteredProducts; track filteredProducts){

            <div class="col-md-4 mb-4" >
              <div class="card product-card shadow-sm">
                <img class="card-img-top img-fluid" [src]="product.photo" alt="{{ product.productName }}" />
                <div class="card-body">
                  <h5 class="card-title">{{ product.productName.split(' ').slice(0, 3).join(' ') }}</h5>
                  <p class="text-muted small">By John Smith</p>
                  <p class="card-text">
                    {{ product.description.split(' ').slice(0, 8).join(' ') }}...
                    <a [routerLink]="['/details', product.id]" class="text-warning">read more</a>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <h4 class="text-primary">{{ product.price | currency: 'EUR' }}</h4>
                    <button class="btn btn-warning btn-sm" (click)="addToCart(product)">
                      <i class="fa-solid fa-cart-shopping"></i> Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          }
            <!-- Pagination -->
            <div class="d-flex justify-content-center mt-4">
              <ul class="pagination">
              
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <button class="page-link" (click)="goToPage(currentPage - 1)">Previous</button>
                </li>
            
                <!-- pages Numbers-->
                <li
                  class="page-item"
                  *ngFor="let page of totalPagesArray; trackBy: trackByPage"
                  [class.active]="currentPage === page"
                >
                  <button class="page-link" (click)="goToPage(page)">{{ page }}</button>
                </li>
            
                <!-- Next page-->
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <button class="page-link" (click)="goToPage(currentPage + 1)">Next</button>
                </li>
              </ul>
            </div>
            
            
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
