
<div class="text-center">
    <img src="./myjumia-top-logo.png" alt="Jumia" width="60px" height="60px" style="object-fit: contain;" />
  </div>
  <h6 class="text-center d-inline-block-">
    Welcome to <h3 class="text-center d-inline-block">Jumia</h3>
  </h6>
  <form (ngSubmit)="addUser()" [formGroup]="formGroup" class="d-flex flex-column">
  
    <div class="form-group mb-3 h-25 m-auto pt-2 col-lg-4 col-md-4 col-sm-4">
      <input 
        type="email"
        class="form-control"
        id="emailInput"
        placeholder="Enter email"
        formControlName="email"
        [ngClass]="{ 'is-invalid': email?.touched && email?.invalid }"
        style="padding:.85rem 1rem;" />
        
      @if(email?.errors?.['required'])
      {
        <span class="text-danger">Email is required</span>
      }
      
      @if(email?.errors?.['pattern'])
      {
        <span class="text-danger">Invalid email</span>
      }
    </div>
    
    <div class="form-group mb-3 m-auto col-lg-4 col-md-4 col-sm-4">
      <input
        type="password"
        class="form-control"
        id="passwordInput"
        placeholder="Enter password"
        formControlName="password"
        [ngClass]="{ 'is-invalid': password?.touched && password?.invalid }"
        style="padding: .85rem 1rem;" />
        
      @if(password?.errors?.['required'])
      {
        <span class="text-danger">Password is required</span>
      }
      
      @if(password?.errors?.['minLength'])
      {
        <span class="text-danger">At least 8 characters required</span>
      }
    </div>
  
    <button
      type="submit"
      class="border-0 login mb-3 col-lg-4 col-md-4 col-sm-4 m-auto"
      style="background-color: #f68b1e; border-radius: 5px; padding: .85rem 1rem;"
      [disabled]="formGroup.invalid">Login</button>
      <h1 class="text-center">JUMIA <img src="myjumia-top-logo.png" alt="Jumia" width="15px" height="15px"/></h1> 
  </form>
  
  

