.w-100 {
  width: 100%;
}

.max-w-xl {
  max-width: 36rem;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.form-control {
  position: relative;
  padding-left: 2.5rem !important;
  padding-right: 3rem !important;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}
a{
  text-decoration: none;
}
