

        <footer>
          <div class="container">
         <div class="mt-t">
          <div class="row mt-5">
            <div class="col-md-3 mt-5">
              <img src="./logo-light.png">
              <p>387 Madison Ave<br>New York, NY 10118</p>
              <p>hellobezel.co<br>+1 301-736-4321</p>
            </div>
            <div class="col-md-3 mt-5">
              <h6>
                The Company</h6>
                <ul class="menu-footer">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">What We Do</a></li>
                  <li><a href="#">Our Vision</a></li>
                  <li><a href="#">Portfolio</a></li>
                  <li><a href="#">Careers</a></li>

                </ul>
            </div>
            <div class="col-md-3 mt-5">
              <h6>
                Recent Posts</h6>
                <ul class="menu-footer">
                  <li><a href="#">You Can’t Handle Truth</a></li>
                  <li><a href="#">How To Add Value To Your Life</a></li>
                  <li><a href="#">A Letter to My 12-Year-Old Self</a></li>
                  <li><a href="#">Weak Words Kill Experiences</a></li>
                  <li><a href="#">An Almost Static Stack</a></li>

                </ul>
            </div>
            <div class="col-md-3 mt-5">
              <h6>
                Recent Posts</h6>
               <ul class="footer-btn-list">
                <a class="btn btn-outline-dark btn-sm footer-btn"> Business</a>
                <a class="btn btn-outline-dark btn-sm footer-btn"> Design</a>
               </ul>
               <ul class="footer-btn-list">
                <a class="btn btn-outline-dark btn-sm footer-btn"> Development</a>
                <a class="btn btn-outline-dark btn-sm footer-btn"> Inspiration</a>
               </ul>
               <ul class="footer-btn-list">
                <a class="btn btn-outline-dark btn-sm footer-btn"> Lifestyle</a>
                <a class="btn btn-outline-dark btn-sm footer-btn"> Tips</a>
               </ul>
            </div>
          </div>
         </div>
          </div>
        </footer>
